<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52476982233-ihtqs8s8d845s9loabdq33eb21baiv65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52476982233-ihtqs8s8d845s9loabdq33eb21baiv65</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>52476982233-3td6fq2pkovgtcu15kdalvtqgua283ga.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyColTK1iz09MNEq2mxUxIH219EKjTDJJtg</string>
	<key>GCM_SENDER_ID</key>
	<string>52476982233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.licethApp</string>
	<key>PROJECT_ID</key>
	<string>liceth-28</string>
	<key>STORAGE_BUCKET</key>
	<string>liceth-28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52476982233:ios:e6a7889026d755547c5fc8</string>
</dict>
</plist>